@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600');

:root {
  --color-buttons: #222;
  --color-hover: #2f2f2f;
  --color-title: #b8e653;
  --color-text: #ccc;
  --color-help: #999;
  --color-background: #191919;
  --color-dark: #000;
}

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  font: 600 16px/1.5 'Montserrat', sans-serif;

  color: var(--color-text);
  background-color: var(--color-background);
}

#root {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 32rem;
  margin: 0 auto;

  padding: 2rem 1rem 4rem;
  font-size: 1.125rem;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;

  height: 100%;
  width: 22.75rem;
  max-width: 100%;
  margin: 0 auto;
}