@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600');

:root {
  --color-buttons: #222;
  --color-hover: #2f2f2f;
  --color-title: #b8e653;
  --color-warning: #d65e5e;
  --color-text: #ccc;
  --color-help: #999;
  --color-background: #191919;
  --color-dark: #000;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin: 0;
  padding: 0;

  font: 600 16px/1.5 'Montserrat', sans-serif;

  color: var(--color-text);
  background-color: var(--color-background);

  overscroll-behavior: none;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  width: 100%;
  min-height: 100vh;
  max-width: 22.5rem;

  font-size: 1.125rem;

  overscroll-behavior: contain;

  @supports (-webkit-touch-callout: none) {
    body {
      min-height: -webkit-fill-available;
    }
  }
}